LOGS_MAX_SIZE_MB=512
MONGO_URI=mongodb://mongodb:27017
JOBE_SERVERS=http://jobe1:80,http://jobe2:80
MAX_CONCURRENT_RUNS=10
DEFAULT_SCHEDULING_ALGORITHM=smart_power
PROXY_PORT=3000
HEAVY_LIBRARIES=numpy,pandas,scipy,sklearn,torch,tensorflow,matplotlib,cv2,PIL,nltk,spacy,requests,httpx,sqlalchemy,keras,statsmodels
IF_STATS=0