# Moodle настройки
MOODLE_URL=
MOODLE_WS_TOKEN=
MOODLE_USERNAME=
MOODLE_PASSWORD=

# Jobe настройки
JOBE_URL=

# Настройки приложения
POLL_INTERVAL=5
LOG_LEVEL=INFO
MAX_RUN_TIME=30

# Настройки БД
DATABASE_URL=
