# JOBE_SERVERS: Comma-separated list of Jobe server URLs.
# Example: http://jobe1:80,http://jobe2:80
JOBE_SERVERS="http://jobe1:80,http://jobe2:80"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
